    /* @media (max-width: 1024px) {
    .homeInfo h1 {
        font-size: 48px;
    }

    .frontendDev {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        text-align: center;
    }

    .homeInfo {
        width: 100%;
        align-items: center;
    }

    .nav ul {
        gap: 10px;
        font-size: 14px;
    }

    .contactContainer {
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .homeInfo h1 {
        font-size: 32px;
    }

    .homeInfo h3,
    .frontendDev {
        font-size: 18px;
    }

    .contactIcons i {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }
} */

    body {
        background: var(--body-gradient);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    html {
        scroll-behavior: smooth;
    }

    /* firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #5a5a5a #383838;
    }

    /* chrome, edge, etc. */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #5a5a5a;
    }

    ::-webkit-scrollbar-thumb {
        background: #5a5a5a;
        border-radius: 10px;
    }

    .mainContainer {
        /* padding-top: 40px; */
        height: 100%;
        width: 100%;
        padding: 20px;
    }

    #home {
        padding: 20px;
        width: 100%;
        height: 800px;
        display: flex;
    }

    #projects {
        padding: 20px;
        width: 100%;
        height: 800px;
    }

    #about_me {
        padding: 20px;
        width: 100%;
        height: 1000px;
    }

    #contact {
        padding: 20px;
        width: 100%;
        height: 222px;
    }

    .mainContainer h1 {
        font-family: "Stalinist One", sans-serif;
        font-size: 1.25rem;
        font-weight: 666;
        /* font-style: normal; */
        /* color: #bdbdbd; */
        color: #bebebe;
        width: auto;
    }

    .imgContainer {
        border-radius: 50% 20% / 10% 40%;
        /* padding: 20px; */
        /* width: 460px; */
        width: 90%;
        max-width: 460px;
        /* min-width: 230px; */
        /* height: 410px; */
        border: 1px solid #bebebe;
        transform: rotate(10deg);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }

    .imgContainer:hover {
        /* transform: rotate(15deg); */
        transform: rotate(7deg);
        cursor: pointer;
        border: 2px solid #f7f7f7;
    }

    .imgContainer img {
        /* max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px; */
        width: 98%;
        height: auto;
        min-width: unset;
        min-height: unset;
        border-radius: 50% 20% / 10% 40%;
        /* align-content: center; */
        /* transform: rotate(deg); */
    }

    .homeContainer {
        /* max-width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; */
        /* justify-content: space-between; */
        /* justify-content: center;
    gap: 66px;
    margin-top: 66px;
    margin-bottom: 120px; */
        /* padding: 0 50px 0 50px; */
        display: flex;
        flex-wrap: wrap;
        /* allows wrapping */
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 0;
        height: max-content;
        flex: 1 1 auto;
    }

    .homeInfo {
        /* border: 1px solid #bebebe;
    border-radius: 10px; */
        padding: 20px;
        width: 530px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .homeInfo h3 {
        /* font-family: "Revalia", sans-serif;
    font-size: 17.14px;
    font-weight: 400;
    font-style: normal;
    color: #bebebe; */
        /* color: #bdbdbd; */
        font-family: "Revalia", sans-serif;
        font-size: 33px;
        font-weight: 700;
        color: #bebebe;
    }

    .homeInfo h1 {
        font-family: "Stalinist One", sans-serif;
        font-size: 66px;
        font-weight: 700;
        background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .homeInfo h1:hover {
        background: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    .homeInfo h3:hover {
        background: linear-gradient(150deg, rgba(107, 145, 114, 0.77), rgba(9, 137, 30, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    .frontendDev {
        font-family: "Revalia", sans-serif;
        font-size: 33px;
        font-weight: 700;
        color: #bebebe;
    }

    .frontendDev:hover {
        background: linear-gradient(150deg, rgba(107, 145, 114, 0.77), rgba(9, 137, 30, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    #frontendDev::after {
        content: "|";
        animation: blink 0.8s step-start infinite;
    }

    @keyframes blink {
        15% {
            opacity: 0;
        }
    }

    /* section.\#contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
} */

    section#contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .section-head {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .section-head p {
        font-size: .75rem;
        font-weight: 666;
        font-family: "Revalia", sans-serif;
        color: #bebebe;
    }

    .section-head h1 {
        font-size: 1.25rem;
        font-weight: 666;
        font-family: "Stalinist One", sans-serif;
        color: #8ba1e9;
    }

    .contactContainer {
        margin: auto;
        width: max-content;
        height: max-content;
        border: 1px solid #bebebe;
        /* margin-top: 20px; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* align-self: center; */
        gap: 20px;
        border-radius: 50px;
        padding: 15px;
    }

    .contact-outer-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }

    .email {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Stalinist One", sans-serif;
        font-size: 12px;
        color: #0a0a0a;
    }

    .tel {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Stalinist One", sans-serif;
        font-size: 12px;
        color: #0a0a0a;
    }

    /* .email img {
    width: 30px;
    height: 30px;
} */

    .email svg {
        fill: #0a0a0a;
        width: 30px;
        height: 30px;
    }

    .tel img {
        color: #0a0a0a;
        width: 30px;
        height: 23.5px;
    }

    .contactIcons ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }

    .contactIcons i {
        color: #bebebe;
        font-size: 35px;
    }

    .contactIcons i:hover {
        background: linear-gradient(to left, rgba(164, 164, 164, 0.77), rgba(12, 8, 20, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    .contactHeader h1:hover {
        background: linear-gradient(to left, rgba(164, 164, 164, 0.77), rgba(12, 8, 20, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    .contactHeader p:hover {
        background: linear-gradient(to left, rgba(164, 164, 164, 0.77), rgba(12, 8, 20, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    .email:hover {
        background: linear-gradient(150deg, rgba(9, 137, 30, 0.77), rgba(214, 219, 215, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    .tel:hover {
        background: linear-gradient(150deg, rgba(214, 219, 215, 0.77), rgba(9, 137, 30, 0.77));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }

    /* proj. */
    #projects .carousel-wrap {
        /* width: 1000px;
    max-width: 95%;
    height: 360px;
    margin: 30px auto;
    position: relative;
    overflow: hidden; */
        /* clips first/last card */
        /* perspective: 2000px; */
        /* 3D depth */
        /* -webkit-perspective: 2000px; */
        /* border-radius: 30px; */
        /* subtle rounded outer shape */
        /* display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; */
        width: 100%;
        max-width: 1000px;
        /* keeps it centered but flexible */
        height: 360px;
        margin: 10px auto;
        position: relative;
        overflow: hidden;
        /* hides overflowing cards */
        perspective: 2000px;
        /* 3D depth */
        -webkit-perspective: 2000px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }

    /* carousel layer holds 3D children */
    #projects .carousel {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

    .carousel:hover {
        cursor: pointer;
    }

    /* cards are absolutely centered baseline -> GSAP moves them with x/z/rotateY */
    #projects .card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        /* baseline centering */
        width: 180px;
        height: 280px;
        border-radius: 12px;
        background: #222;
        background-size: cover;
        background-position: center;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: box-shadow .18s ease;
        cursor: pointer;
    }

    /* hover pop for accessible feedback (optional) */
    #projects .card:hover {
        /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75); */
        cursor: pointer;
    }

    /* controls aligned inside wrapper */
    #projects .controls {
        position: absolute;
        bottom: 0;
        display: flex;
        width: auto;
        justify-content: center;
        gap: 12px;
        z-index: 999;
    }

    /* no prj to show yet atm. */
    .projectInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projectInfo p {
        font-family: "Montserrat", sans-serif;
        font-size: 8px;
        font-weight: 500;
        font-style: italic;
        color: #0a0a0a;
    }

    /* RESPONSIVENESS */
    /* @media (max-width: 768px) {
    #projects .carousel-wrap {
        height: 280px;
    }

    #projects .card {
        width: 140px;
        height: 220px;
    }
}

@media (max-width: 500px) {
    #projects .carousel-wrap {
        height: 220px;
    }

    #projects .card {
        width: 100px;
        height: 160px;
    }
} */

    /* animation smooth enter transition */

    /* ----- X animation (slides from RIGHT) ----- */
    .fade-inX {
        opacity: 0;
        transform: translateX(18px);
    }

    body.loaded .fade-inX {
        animation: fadeInX 1s ease forwards;
    }

    @keyframes fadeInX {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


    /* ----- Y animation (slides UP) ----- */
    .fade-inY {
        opacity: 0;
        transform: translateY(55px);
    }

    body.loaded .fade-inY {
        animation: fadeInY 1.25s ease forwards;
    }

    @keyframes fadeInY {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fade-inY {
        opacity: 0;
        transform: translateY(55px);
    }

    .fade-only {
        opacity: 0;
    }

    /* load-anim */
    body.loaded .fade-inY {
        animation: fadeInY 1s ease forwards;
    }

    body.loaded .fade-only {
        animation: fadeOnly 1s ease forwards;
    }

    /* delay timing */
    /* project */
    .fade-inY.head-projects {
        animation-delay: 0.3s;
    }

    /* about me */
    .fade-inY.head-about {
        animation-delay: 0.6s;
    }

    /* contact */
    .fade-only.head-contact {
        animation-delay: 1s;
    }

    @keyframes fadeInY {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOnly {
        to {
            opacity: 1;
        }
    }


    .aboutInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin: 30px auto;
        /* width: calc(100% - 50%); */
        color: #0a0a0a;
        max-width: 40rem;

        -webkit-backdrop-filter: blur(14px);
        backdrop-filter: blur(14px);
        background: rgba(0, 0, 0, 0.60);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 12px;

        padding: 25px;

    }

    .aboutInfo p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.25rem;
        color: #d1d1d1;
        cursor: default;
        flex: 1 1 auto;
    }

    b,
    strong,
    i {
        color: #27b2b7;
    }

    q {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        color: #27b2b7;
    }

    q:hover {
        background: linear-gradient(to left, #27b2b7, #245d66);
        background-clip: text;
        color: transparent;
        cursor: pointer;
    }