.navbar {
    padding: 0 20px 0 20px;
    width: 100%;
    /* background: linear-gradient(to top left, #1a2238, #9baec8, #f5f7fa); */
    /* background: linear-gradient(150deg, #3e3e3e, #d1d1d1 70%, #565656); */
    /* background: linear-gradient(to top left, #801111, #9e164d, #162b73); */
    /* background: linear-gradient(to bottom, #d1d1d1 25%, #565656); */
    background: rgba(0, 0, 0, .25);
    border: 1px solid #bebebe;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 9999;
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

/* logo poco loco moco doco mow*/
@font-face {
    font-family: "Alien Cybernatics";
    src: url("../assets/fonts/broRllyAnAlien.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.nav_logo {
    font-family: "Alien Cybernatics", sans-serif;
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 5px;
    position: relative;
}

.nav_logo::before {
    content: "";
    position: absolute;
    bottom: 4.4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
}

.nav_logo:hover {
    background: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.nav_logo:hover::after {
    content: "";
    position: absolute;
    bottom: 4.4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
}

/* time is relative, who said that? */
.nav_time {
    font-size: 16px;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav_time:hover {
    background: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

/* nav controls */
.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    font-size: 16px;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px 12px;
    border-radius: 10px;
    display: inline-block;
    outline: 1px solid transparent;
}

.nav ul li a:hover {
    /* transform: translateY(-2px);
    cursor: pointer; */
    /* background: none;
    -webkit-background-clip: unset;
    background-clip: unset; */
    /* background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77)); */
    background: linear-gradient(150deg, rgba(107, 145, 114, 0.77), rgba(9, 137, 30, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* color: black; */
    /* border: 1px solid #bebebe; */
    outline: 1px solid #bebebe;
    /*border bruh*/
    border-radius: 10px;
    /* display: inline-block;
    width: calc(var(--chars) * 1ch);
    text-align: center; */
}