.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    /* background: linear-gradient(to top left, #1a2238, #9baec8, #f5f7fa); */
    /* background: linear-gradient(150deg, #3e3e3e, #d1d1d1 70%, #565656); */
    /* background: linear-gradient(to top left, #801111, #9e164d, #162b73); */
    /* background: linear-gradient(to bottom, #d1d1d1 25%, #565656); */
    background: rgba(0, 0, 0, .25);
    border: 1px solid #bebebe;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(20px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    scroll-behavior: smooth;
    box-sizing: border-box;

    container: nav / inline-size;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: min(0.625rem, 4%) min(1.25rem, 4%);
}

/* logo poco loco moco doco mow*/
@font-face {
    font-family: "Alien Cybernatics";
    src: url("../assets/fonts/broRllyAnAlien.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.nav_logo {
    font-family: "Alien Cybernatics", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: min(0.3125rem, 4%);
    position: relative;
}

.nav_logo::before {
    content: "";
    position: absolute;
    bottom: 4.4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
}

.nav_logo:hover {
    background: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: url("../assets/img/cursor.png"), auto;
}

.nav_logo:hover::after {
    content: "";
    position: absolute;
    bottom: 4.4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
}

/* time is relative, who said that? */
.nav_time {
    font-size: 1rem;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav_time:hover {
    background: linear-gradient(to left, rgba(12, 8, 20, 0.77), rgba(128, 128, 128, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: url("../assets/img/cursor.png"), auto;
}

/* nav controls */
.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    /* font-size: clamp(0.5rem, calc(0.909rem + 0.455vw), 1.00625rem); */
    font-size: 1rem;
    background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: min(0.3125rem, 4%) min(0.75rem, 4%);
    border-radius: 10px;
    display: inline-block;
    outline: 1px solid transparent;
    cursor: url("../assets/img/pointer2.png"), auto;
}

.nav ul li a:hover {
    /* transform: translateY(-2px);
    cursor: pointer; */
    /* background: none;
    -webkit-background-clip: unset;
    background-clip: unset; */
    /* background: linear-gradient(to left, rgba(128, 128, 128, 0.77), rgba(12, 8, 20, 0.77)); */
    background: linear-gradient(150deg, rgba(107, 145, 114, 0.77), rgba(9, 137, 30, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* color: black; */
    /* border: 1px solid #bebebe; */
    outline: 1px solid #bebebe;
    /*border bruh*/
    border-radius: 10px;
    /* display: inline-block;
    width: calc(var(--chars) * 1ch);
    text-align: center; */
}

.nav_logo,
.nav_right {
    flex-shrink: 0;
    /* flex: 1 1 auto; */
}

.nav ul {
    flex-shrink: 1;
    min-width: 0;
    /* flex: 1 1 auto; */
}


/* responsiveness */
@container nav (max-width: 1050px) {
    .nav_logo {
        font-size: 0.75rem;
        padding: 2px;
    }
    .nav_time {
        font-size: 0.70rem;
        padding: 2px;
    }
    .nav ul {
        gap: 5px;
    }
    .nav ul li a {
        font-size: 0.70rem;
        /* color: red; */
        padding: 2px;
    }
    .nav_logo::before {
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 1.45px;
    }
    .nav_logo:hover::after {
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 1.45px;
    }
}

@container nav (max-width: 750px) {
    .nav_logo {
        font-size: 0.55rem;
        padding: 1px;
    }
    .nav_time {
        font-size: 0.55rem;
        padding: 1px;
    }
    .nav ul {
        gap: 3px;
    }
    .nav ul li a {
        font-size: 0.60rem;
        padding: 1.5px;
    }
     .nav_logo::before {
        bottom: 1.30px;
        left: 0;
        width: 100%;
        height: .75px;
    }
    .nav_logo:hover::after {
        bottom: 1.30px;
        left: 0;
        width: 100%;
        height: .75px;
    }
}

@container nav (max-width: 650px) {
    /* .nav_logo {
        font-size: 0.45rem;
        padding: 1px;
    }
    .nav_time {
        font-size: 0.45rem;
        padding: 1px;
    } */
    .nav ul {
        gap: 2.5px;
    }
    .nav ul li a {
        font-size: 0.60rem;
        padding: 1.5px;
    }
     .nav_logo::before {
        bottom: 1.30px;
        left: 0;
        width: 100%;
        height: .75px;
    }
    .nav_logo:hover::after {
        bottom: 1.30px;
        left: 0;
        width: 100%;
        height: .75px;
    }
    .nav_logo, .nav_time {
        display: none;
    }
    .nav_logo, .nav_right {
        flex-shrink: 1;
    }
}

@container nav (max-width: 440px) {
    .nav ul {
        gap: 1.5px;
    }
    .nav ul li a {
        font-size: clamp(0.45rem, 0.625vw + 1rem, 0.55rem);
        padding: 1px;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .nav ul {
        gap: 1.15px;
    }
    .nav ul li a {
        font-size: 0.48rem;
        padding: 1px;
    }
}

@media (min-width: 300px) and (max-width: 480px) {
    .nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

@media (min-width: 481px) and (max-width: 1020px) {
    .nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
}


